/** CSS STYLE **/

:root {
  --color-white: #fff;
  --color-white-transpatence: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #fe8a02;
  --color-dark: #2a2626;
  --color-dark-transpatence: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

@font-face {
  font-family: Neucha;
  src: url(../fonts/Neucha/Neucha-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

body {
  width: 100%;

  margin: 0;
  padding: 0;

  color: var(--color-dark);

  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  line-height: 1.6em;
}

header {
  width: 100%;
}

main {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;

  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  position: relative;

  box-sizing: border-box;

  width: 100%;

  margin: 0;
  padding: 100px 0;
}

.bg-image::before {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1000;

  width: 100%;
  height: 100%;

  background: rgb(0, 0, 0);

  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

/* Блоки */

.content {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

  max-width: 1110px;
  margin: 0 auto;
}

.header img {
  position: relative;

  top: 55px;
  right: -270px;

  z-index: -100;

  height: 525px;
}

.header h1 {
  position: absolute;

  margin: 0;
  padding-top: 100px;

  text-align: left;
}

.columns-2 {
  margin-top: 30px;

  column-count: 2;
  column-gap: 30px;
}

.upp-200px-container {

  position: relative;

  top: -200px;

  box-sizing: border-box;

  width: 100%;

  margin: 0;
  padding-top: 200px;
  padding-right: 0;
  padding-left: 0;
}

.card {
  flex-basis: 350px;
  box-sizing: border-box;
  margin: 15px 0;
}

.card-menu-item {
  padding: 24px;

  background-color: var(--color-light);
}

.card-menu-item h3 {
  color: var(--color-main);
}

.card-menu-item h4 {
  padding-bottom: 40px;

  color: var(--color-dark);

  font-size: 64px;
  font-family: "Neucha", sans-serif;

  line-height: 1;
}

.card-menu-item p {
  color: var(--color-dark);
}

#navigation h4 {
  font-size: 52px;
}

/* Элементы */

.button {
  display: inline-block;

  margin-top: 40px;
  padding: 12px 24px;

  color: var(--color-white);

  font-weight: bold;

  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--color-main);
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* Модификаторы */

.color-main {
  color: var(--color-main);
}

.columns-2 p {
  margin-top: 0;
  break-inside: avoid;
}

.center {
  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

.width-100pcr {
  width: 100%;
}

.margin-t30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-color-dark {
  background: var(--color-dark);
}

.text-color-white {
  color: var(--color-white);
}

.z-index-plus-1000 {
  z-index: 10000;
}
